<div class="score-board-container row no-gutters">
  <div class="timer-container d-flex flex-column">
    <div class="time">30</div>
    <div class="units">seconds</div>
  </div>
  <div class="score-board row no-gutters align-middle justify-content-center flex-grow-1">
    <div *ngFor="let contestant of contestants" class="team-board {{ 'col-' + (12/contestants.length) }}">
      <div class="team-name text-center">
        {{ contestant.name }}
        <span class="badge badge-secondary">{{ contestant.position }}</span>
      </div>
      <div class="team-score text-center"
           [ngClass]="{'negative': contestant.score < 0 }">
        {{ contestant.score | currency:'USD':'symbol':'.0' }}
      </div>
    </div>
  </div>
</div>
