<div class="category-input-container p-3">
  <div class="row">

    <div class="d-flex flex-grow-1">
      <form class="d-flex flex-column d-flex flex-grow-1" [formGroup]="categoryListFormGroup">

        <div formArrayName="categories" class="d-flex">
          <div class="form-group" *ngFor="let categoryItem of categoryListFormGroup.get('categories').controls; let i = index">
            <div class="col" formGroupName="{{i}}">
            <h5>{{categoryItem.get('name').value}}</h5>
            <div class="d-flex mb-1">
              <div class="col px-0">
                <input type="text"
                       class="form-control form-control-sm"
                       placeholder="Category Name"
                       formControlName="name">
              </div>
            </div>
            <div class="d-flex mb-3 justify-content-end">
              <div class="d-flex flex-row justify-content-end p-0">
                <button type="button" class="btn btn-outline-primary btn-sm badge mr-1">Edit</button>
                <button type="button"
                        class="btn btn-outline-secondary btn-sm badge"
                        (click)="categoryListArray.removeAt(i)">Remove</button>
              </div>
            </div>

              <div formGroupName="clues" class="border-top pt-3">
                <div class="row mb-3"
                     *ngFor="let hintAnswer of getCategoryCluesControlList(categoryItem).controls; let j = index">
                  <div formGroupName="{{j}}" class="d-flex col">
                    <div class="d-flex col-2 border-right border-dark justify-content-center align-items-center">
                      <h3 class="rotate-270">{{getClueScore(hintAnswer)}}</h3>
                    </div>
                    <div class="col">
                      <div class="form-group row">
                        <div class="col pr-0">
                          <input name="hint-{{getClueScore(hintAnswer)}}"
                                 type="text"
                                 class="form-control form-control-sm"
                                 placeholder="Clue"
                                 formControlName="clue">
                        </div>
                      </div>
                      <div class="form-group row mb-0">
                        <div class="col pr-0">
                          <input name="answer-{{getClueScore(hintAnswer)}}"
                                 type="text"
                                 class="form-control form-control-sm"
                                 placeholder="Answer"
                                 formControlName="answer">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex col justify-content-end">
          <button type="submit" class="btn btn-primary px-5 mr-3"
                  [disabled]="categoryListArray.length >= CATEGORY_COUNT"
                  (click)="generateNewCategoryFormGroup()">Add</button>
          <button type="button" class="btn btn-outline-secondary">Clear</button>
        </div>
      </form>
    </div>
  </div>
</div>
