
.game-board-container {
  background-color: royalblue;
}

.grid-square {
  font-size: 2em;
  font-weight: bold;
  color: #ffe790;
  padding-right: 0.5em;
  padding-left: 0.5em;
  width: 100%;
  align-content: center !important;
  display: flex;
  flex-grow: 1;
  justify-content: center !important;

  border: 1px solid black;
}

.category-header {
  border-bottom: 3px solid #000000;

  & .category-header-cell {
    color: #ffffff;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.75em;
    height: 100% !important;
  }
}
