
.game-board-container {
  background-color: royalblue;
}

.grid-square {
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
}

.category-header {
  border-bottom: 3px solid #000000;
}

.clue-container {

}
