<div class="game-board-container d-flex flex-column align-content-between vh-100">
  <div class="row category-header no-gutters">
    <div *ngFor="let category of categories" class="col-2">
      <div class="row grid-square no-gutters category-header-cell">
        <span class="text-center align-middle">{{ category.label }}</span>
      </div>
    </div>
  </div>
  <div class="row d-flex flex-row flex-grow-1 no-gutters">
    <div *ngFor="let category of categories" class="d-flex flex-column col-2">
      <div *ngFor="let clue of category.clues"
           class="row grid-square no-gutters"
           (click)="showHint(clue)">
        <span class="text-center align-middle">{{ clue.points | currency:'USD':'symbol':'.0' }}</span>
      </div>

    </div>
  </div>
  <!--TEAM SCORE BOARD SECTION - START-->
  <app-score-board [contestants]="contestantsList"></app-score-board>
  <app-hint-card [hint]="selectedClue?.clue" [show]="false"></app-hint-card>
  <!--TEAM SCORE BOARD SECTION - END-->
</div>
