<div class="game-board-container d-flex flex-column align-content-between vh-100">
  <div class="row category-header no-gutters">
    <div *ngFor="let category of categories" class="col-2">
      <div class="row grid-square no-gutters category-header-cell">
        <span class="text-center align-middle">{{ category.label }}</span>
      </div>
    </div>
  </div>
  <div class="row d-flex flex-row flex-grow-1 no-gutters">
    <div *ngFor="let category of categories" class="d-flex flex-column col-2">
      <div *ngFor="let clue of category.clues"
           class="row grid-square no-gutters">
        <span class="text-center align-middle">{{ clue.points | currency:'USD':'symbol':'.0' }}</span>
      </div>

    </div>
  </div>
  <!--TEAM SCORE BOARD SECTION - START-->
  <div class="score-board row no-gutters align-middle justify-content-center">
    <div *ngFor="let contestant of contestants" class="team-board {{ 'col-' + (12/contestants.length) }}">
      <div class="team-name text-center">{{ contestant.name }}</div>
      <div class="team-score text-center">{{ contestant.score | currency:'USD':'symbol':'.0' }}</div>
    </div>
  <!--TEAM SCORE BOARD SECTION - END-->
  </div>
</div>
